.homeContainer{
    display: flex;
    background-color: #1D1D1D;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.homeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    gap: 10px;
    flex-grow: 2;
    border-radius: 100%;
    padding: 40px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background: rgba(46,59,192,0.2);
}

.homeName {
    color: white;
    font-size: 5rem;
    margin: 0;
    pointer-events: all;
}

.homeTitle {
    color: white;
    font-size: 3rem;
    margin: 0;
    pointer-events: all;
}

.homeDescription {
    color: #0099D7;
    pointer-events: all;
    font-size: 1.8rem;
}

.contactButton {
    border-style: solid;
    border-width: 2px;
    border-color: #00BF94;
    color: #00BF94;
    padding: 20px 20px;
    text-decoration: none;
    transition: all 100ms ease-in;
    pointer-events: all;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.contactButton:hover{
    background-color: #00BF94;
    color: #1D1D1D;
}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

#mapPointer{
    border-radius: 100px;
    z-index: 1;
}

.canvas{
    position: fixed;
    top:0;
    width:100%;
    height: 100%;
    z-index: 0;
    background-color: #1D1D1D;
}

.buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

@keyframes zoom-in {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .homeSection {
        animation: zoom-in 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 500ms;
        transform: scale(0.7);
        opacity: 0;
    }

}

@media screen and (max-width: 990px) {

    .homeSection{
        flex-wrap: wrap;
        text-align: center;
    }

    .buttons {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .homeName {
    }
}