.homeContainer{
    display: flex;
    background-color: #1D1D1D;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.homeSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    gap: 8vw;
    flex-grow: 2;
    padding: 40px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    height : 100vh;
    width : 100%;
}

.textPart {
    width: 40vw;
}


.homeTitle {
    color: white;
    font-size: 6rem;
    font-family: "robotobold", sans-serif;
    margin: 0;
    pointer-events: all;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;

}

.homeDescription {
    color: #0099D7;
    pointer-events: all;
    font-size: 4rem;


    font-family: "robotobold", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.contactButton {
    border-style: solid;
    border-width: 2px;
    border-color: #00BF94;
    color: #00BF94;
    padding: 20px 20px;
    text-decoration: none;
    transition: all 100ms ease-in;
    pointer-events: all;


    font-family: "robotobold", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 24px;
    text-align: center;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    box-shadow: inset 2px 2px 2px black, 2px 2px 2px black;
}

.contactButton:hover{
    background-color: #00BF94;
    border-color: transparent;
    color: #000000;
    text-shadow: none;
    box-shadow: 2px 2px 2px black;
}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

#mapPointer{
    border-radius: 100px;
    z-index: 1;
}

.canvas{
    position: fixed;
    top:0;
    width:100vw;
    height: 100vh;
    z-index: 0;
    background-color: #000000;
}

.buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

#portrait {
    border-radius: 100%;
    width: 40vw;
}

.portraitPart {
    width: 30vh;
}

.sliderTitle  {
    position:relative;
    height: 10rem;
    white-space: nowrap;
    z-index: 1;
}

.sliderTitle > h1 {
    color: white;
    font-size: 8rem;
    font-family: "robotobold", sans-serif;
    font-weight: normal;
    margin: 0 0 10px;
    pointer-events: all;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.active {
    opacity: 1;
    position: absolute;
    animation: slide-effect-in 0.4s linear;
}

.inactive {
    opacity: 0;
    position: absolute;
    animation: slide-effect-out 0.4s linear;
}


@keyframes zoom-in {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-effect-out {
    0%{
        opacity: 1;
        transform: translateX(0%);
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 0;
        transform: translateX(0%);
    }
}

@keyframes slide-effect-in {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


@media (prefers-reduced-motion: no-preference) {
    /*.homeSection {
        animation: zoom-in 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 500ms;
        transform: scale(0.7);
        opacity: 0;
    }*/

}

@media screen and (max-width: 990px) {

    .homeSection{
        flex-wrap: wrap;
        height : fit-content;
        min-height: 100vh;
    }

    .infoSection {
        pointer-events: all;
    }

    .homeContainer {
        height: fit-content;
    }

    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    .buttons > * {
        padding: 10px;
    }

    .textPart {
        width: 100%;
    }

    .homeDescription {
        font-size : 2rem;
    }

    .homeTitle {
        font-size : 4rem;
    }

    #portrait {
        width: 5vw;
    }

    .sliderTitle {
        height : 7rem;
    }

    .sliderTitle > h1 {
        font-size : 5rem;
    }

}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .homeName {
    }
}