.portfolioCard {
    width : 33%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 0;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolioCard:hover > .cardContent{
    opacity: 1;
}

.cardContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(19,19,19,70%);
    backdrop-filter: blur(3px);
    height: 100%;
    transition: all 150ms ease-out;
}

.portfolioTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    color: #00BF94;
    width: 100%;
    text-transform: uppercase;
    height: 30%;
    margin: 0;
}

.portfolioDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    color:white;
    width: 100%;
    height: 30%;
    margin: 0 5%;
}

.portfolioTechs {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
}

.portfolioTech {
    color : white;
    font-size: 2rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    height: fit-content;
    background-color: rgba(46,59,192,0.8);
}

.portfolioButton {
    box-sizing: border-box;
    border: 2px solid #00BF94;
    width: 100px;
    transition: all 150ms ease-in;
    color: #00BF94;
    font-size : 2rem;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'robotobold', serif;
}
.portfolioButton:hover {
    background-color: #00BF94;
    color:black;
    transition: all 150ms ease-in;
}

.portfolioButtons {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 20%;

}

@media screen and (min-width: 1920px) {

    .portfolioCard {
        width : 20%;
    }
}


@media screen and (max-width: 990px) {

    .portfolioCard {
        width : 50%;
    }
}

@media screen and (max-width: 672px) {

    .portfolioCard {
        width : 75%;
    }
}