.portfolioCard {
    width : 33%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 0;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #00b3ff;
}

.portfolioCard:hover > .cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardContent {
    display: none;
    background-color: rgba(19,19,19,70%);
    backdrop-filter: blur(3px);
    height: 100%;
}

.portfolioTitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #00BF94;
    margin-top: 2px;
    margin-bottom: 10%;
}

.portfolioDescription {
    font-size: 16px;
    text-align: center;
    margin-bottom: inherit;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
    margin-top: 5px;
}

.portfolioTechs {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.portfolioTech {
    color : #0099D7;
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.portfolioButton {
    box-sizing: border-box;
    border: 2px solid #00BF94;
    width: 100px;
    transition: all 150ms ease-in;
    color: #00BF94;
    font-size : 15px;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'robotobold', serif;
}
.portfolioButton:hover {
    background-color: #00BF94;
    color:#E6ECFF;
    transition: all 150ms ease-in;
}

.portfolioButtons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20%;

}

@media screen and (min-width: 1920px) {

    .portfolioCard {
        width : 20%;
    }
}