.canvasContainer{
    position: relative;
    height:1200px;
}

.contentContainer{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.canvas{
    position: absolute;
    width:100%;
    height: 100%;
}

.button {
    position: absolute;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 990px) {

    .canvasContainer{
        height:2400px;
    }

    .contentContainer{
        pointer-events: all;
    }

}