#portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


#portfolioSectionTitle {
    color: #00BF94;
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
    font-size: 6.5rem;
    line-height: 5.0rem;
    margin-bottom: 5vh;
    padding-top: 10%;
}

#portfolioSectionDiv {
    text-align: center;
    background-color: #1d1d1d;
    position: relative;
    z-index: 0;
    height: 100vh;
}

.bigBackgroundWord {
    color: rgba(255,255,255,0.04);
    position: absolute;
    z-index: -1;
    font-size: 20rem;
    top : 2vh;
    font-weight: 700;
    font-family: 'roboto', serif;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.description {
    color: white;
    margin-bottom: 10vh;
    text-align: left;
    margin-left: 20px;
    max-width: 800px;
}

@media screen and (max-width: 990px) {

    #portfolioSectionTitle {
        padding-top: 25%;
    }

}

@media screen and (max-width: 1296px) {

    @media screen and (min-aspect-ratio: 3/2) {

        #portfolioSectionDiv {
            min-height: 100vw;
        }
    }
}
