#mySkillsTitle {
    color: #2B3487;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Inter', serif;
    align-items: center;
    text-align: center;
}

#skillsDiv {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(to bottom, white 48%, #32699F 52%);
}

#skillsListDiv {
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-direction: row;
}

#skillsListDiv > div {
    opacity: 0.85;
    border-color: rgba(17,17,17,25%);
    border-width: 1px;
    border-style: inset;
    background: rgba( 255, 255, 255, 0.9);
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 50px );
}

#skillsListDiv > div:first-of-type {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right-style: none;
}

#skillsListDiv > div:last-of-type {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left-style: none;
}


#mySkillsDescription {
    align-self: flex-start;
    flex-grow: 0;
}

.skillItem {
    background: #E6ECFF;
    border-radius: 10px;
    flex-grow: 0;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #32699F;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.skillItem:hover {
    background-color: #2B3487;
    color:white;
    transition: all 100ms ease-in;
}

.skillLogo {
    margin: 10px;
}

.skillTitle {
    color: #2B3487;
    margin-bottom: 20px;
}

.skillsList {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow:1;
    width: 427px;
    height:300px;
}