.circle {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 3px solid #32699F;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in;
}

.circle:hover {
    transform: scale(110%);
    transition: all 100ms ease-in;
}

.chevron {
    width: 35px;
    height: 18px;
}