

.skillsDiv {
    display: flex;
    width: 600px;
    /*border-top: solid 3px;
    border-left: #151515 solid 3px;*/
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(0) rotateX(0);
    position: relative;
}

.skillsDiv::before,
.skillsDiv::after {

    position: absolute;
    border-radius: inherit;
    content: "";
}

.skillsDiv::after {
    inset : -1rem;
    background: linear-gradient(30deg, #0099D7, #00ADB8, #00BF94);
    transform: translateZ(-40px);
}

.skillsDiv::before {
    inset : 0.25rem;
    background: black;
    transform: translateZ(-39px);
    filter: blur(5px);
    opacity: 0.5;
}

.skillLeftPanel {

    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 20%;
    min-width: 150px;
}

.skillLeftPanel > p {
    text-align: center;
}

.skillRightPanel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    padding: 20px;
    background-color: #1D1D1D;
}

.logo {
    display: flex;
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
}

.blue {
    background-color: #0099D7;
}

.blue_text {
    color: #0099D7;
}

.blue_border {
    border-top-color: #0099D7;
}

.lightBlue {
    background-color: #00ADB8;
}

.lightBlue_text {
    color: #00ADB8;
}

.lightBlue_border {
    border-top-color: #00ADB8;
}

.green {
    background-color: #00BF94;
}

.green_text {
    color: #00BF94;
}

.green_border {
    border-top-color: #00BF94;
}

.skillItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.15);
    border-radius: 10px;
    height: fit-content;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    cursor:default;
    text-align: center;
}

.skillTitle {
    font-size: 2rem;
    font-weight: 500;
}

@keyframes enter-left-slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media (prefers-reduced-motion: no-preference) {
    /*.slide {
        animation: enter-left-slide 1s ease-out;
        animation-fill-mode: forwards;
    }*/

    /*.skillsDiv {
        transform: translateX(100%);
    }*/
}

@media screen and (max-width: 1296px) {
    .skillsDiv {
        width: 100%;
    }

    .skillsList {
        width: 350px;
    }
}

@media screen and (max-width: 990px) {

    #skillsListDiv {
        flex-direction: column;
    }

    #skillsListDiv > div:first-of-type {
        border-style: none;
    }

    #skillsListDiv > div:last-of-type {
        border-style: none;
    }

    #skillsListDiv {
        border-style: none;
    }

    .skillsDiv {
        width: 70%;
    }
}

@media screen and (max-width: 672px) {

    .skillsDiv {
        height: fit-content;
        width: 100%;
    }
}