
.button {
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    background-color: #32699F;
    height: 45px;
    width: 130px;
    transition: all 150ms ease-in;
    color: #FFFFFF;
}
.button:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color:#32699F;
    transition: all 150ms ease-in;
}

.text {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 10px;
}
@media screen and (max-width: 672px) {

    .text {
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
    }

    .button {
        height: 24px;
        width: 90px;
        border-width: 1px;
        position: absolute;
        right: 0;
        top: 5%;
    }
}

@media screen and (max-width: 990px) {
    .text {
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
    }

    .button {
        height: 24px;
        width: 90px;
        border-width: 1px;
        margin-bottom: 10px;
        align-self: flex-end;
    }
}

