#myServicesTitle {
    color: #2B3487;
    align-self: center;
    flex-grow: 0;
    font-family: 'Inter', serif;
    align-items: center;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    pointer-events: all;
}

.servicesDiv {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    backdrop-filter: blur( 3px );
    width: fit-content;
    border-radius: 25px;
    overflow: clip;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(17,17,17,10%);
    background-color: rgba(255,255,255,20%);
    margin: 20px auto auto;
    box-shadow: 0 5px 5px rgba(17,17,17,25%);
}

#servicesListDiv {
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-direction: row;
    background-color: transparent;
    border-color: rgba(17,17,17,10%);
    border-width: 1px;
    border-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
}

#servicesListDiv > div:first-of-type {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(17,17,17,10%);
    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
}

#servicesListDiv > div:last-of-type {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(17,17,17,10%);
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
}

#myServicesDescription {
    align-self: center;
    flex-grow: 0;
    backdrop-filter: blur( 2px );
    color: #2B3487;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    pointer-events: all;
}

.serviceTitle {
    color: #2B3487;
    margin: 0 10px 20px;
    pointer-events: all;
}

.servicesList {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow:1;
    width: 406px;
    height:300px;
    padding: 10px;
}

.serviceDescription {
    color: #2B3487;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    pointer-events: all;
}

@media screen and (max-width: 1296px) {
    .servicesDiv {
        width: 100%;
    }

    .servicesList {
        width: 350px;
    }
}

@media screen and (max-width: 990px) {

    #servicesListDiv {
        flex-direction: column;
    }

    #servicesListDiv > div:first-of-type {
        border-style: none;
    }

    #servicesListDiv > div:last-of-type {
        border-style: none;
    }

    #servicesListDiv {
        border-style: none;
    }

    .servicesDiv {
        width: 70%;
    }
}

@media screen and (max-width: 672px) {

    .servicesDiv {
        width: fit-content;
    }
}


