
.error {
    border-radius : 100%;
    height : 150px;
    width : 150px;
}

.infocard {
    background: #32699F;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.3;

}

.text {
    color : white;
    text-align: center;
    font-family: 'robotoregular', serif;
}

.text h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 5px;
}

.infocard > * {
    margin-bottom: 25px;
}