

.cvButton {
    border-style: solid;
    border-width: 2px;
    border-color: #00BF94;
    color: #00BF94;
    padding: 20px 40px;
    text-decoration: none;
    transition: all 100ms ease-in;
    backdrop-filter: blur(2px);
    pointer-events: all;
}

.cvButton:hover {
    transition: all 150ms ease-in;
}

.cvButton > span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.greenCVButton {
    background: transparent;
    border-color: #00BF94;
    color:#00BF94;
}

.greenCVButton:hover {
    background-color:#00BF94;
    border-color: #00BF94;
    color:#414141;
}

.blueCVButton {
    background: transparent;
    border-color:#32699F;
    color:#32699F;
}

.blueCVButton:hover {
    background-color: #32699F;
    border-color:#32699F;
    color:#FFFFFF;
}