.cvButton {
    box-sizing: border-box;
    border: 2px solid;
    height: 53px;
    width : fit-content;
    transition: all 150ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: auto;
}

.cvButton:hover {
    transition: all 150ms ease-in;
}

.cvButton > span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 20px;
}

.greenCVButton {
    background: transparent;
    border-color: #00BF94;
    color:#00BF94;
}

.greenCVButton:hover {
    background-color:#00BF94;
    border-color: #00BF94;
    color:#414141;
}

.blueCVButton {
    background: transparent;
    border-color:#32699F;
    color:#32699F;
}

.blueCVButton:hover {
    background-color: #32699F;
    border-color:#32699F;
    color:#FFFFFF;
}